body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b1d32;
  color: white;
  text-align: center;
}

header {
  background-color: #112240;
  padding: 20px;
  font-size: 24px;
}

main {
  padding: 20px;
}

footer {
  background-color: #112240;
  padding: 10px;
  margin-top: 20px;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Flexbox container for images */
.gallery {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

/* Responsive images */
.gallery img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition:
    box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

/* Hover effect */
.gallery img:hover {
  box-shadow: 0 0 15px rgb(255 255 255 / 80%);
  transform: scale(1.05);
}

/* Responsive adjustments based on screen size */
@media (width <= 768px) {
  .gallery img {
    max-width: 200px;
    height: 200px;
  }
}

@media (width <= 480px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }

  .gallery img {
    max-width: 90%;
    height: auto;
  }
}

.fact {
  background-color: #1a3555;
  padding: 15px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
}

/* Styles ISS */
.iss-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background: #0a192f;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(255 255 255 / 20%);
}

.iss-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #64ffda;
}

.iss-info {
  font-size: 18px;
  margin: 10px 0;
}

.iss-info strong {
  color: #fc0;
}

.iss-button {
  background: #64ffda;
  color: #0a192f;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.iss-button:hover {
  background: #52e0c4;
}

/* Missions list */
.missions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  align-items: stretch;
}

/* Detail of Mission */
.mission-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%; /* 5 par ligne */
  border: 2px solid rgb(208, 169, 141);
  border-radius: 8px;
  text-align: center;
  padding: 15px;
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.mission-item a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 15px;
}

/* Hover effect */
.mission-item:hover {
  background-color: rgba(255, 102, 0, 0.1);
  transform: scale(1.05);
}

/* List of participants */
.participants-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Each participant */
.participant-item {
  padding: 10px;
  border: 1px solid rgb(208, 169, 141);
  border-radius: 5px;
  background-color: rgba(255, 102, 0, 0.1);
}

/* Responsive : 3 par ligne */
@media (max-width: 1024px) {
  .mission-item {
    width: 30%;
  }
}

/* Responsive : 2 par ligne */
@media (max-width: 768px) {
  .mission-item {
    width: 45%;
  }
}

/* Responsive : 1 par ligne */
@media (max-width: 480px) {
  .mission-item {
    width: 100%;
  }
}

/* Spinner */
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
