{{page-title "Missions"}}

{{!-- <h1>Missions</h1>

<ul>
  {{#each @model as |mission|}}
    <li><a href={{mission.url}}>link</a></li>
  {{/each}}
</ul> --}}

<h2>Space Missions</h2>

<ul>
  {{#each @model as |mission|}}
    <li>
      <strong>{{mission}}</strong>
      <br />
      <LinkTo @route="mission" @model={{mission}}>View Details</LinkTo>
    </li>
  {{/each}}
</ul>