{{page-title "Missions"}}

<h2>Space Missions</h2>

{{#if this.isLoading}}
  <p class="loading-message">Loading page, please wait...</p>
{{else}}
  <div class="missions-list">
    {{#each this.missionsUrls as |mission|}}
      <div class="mission-item">
        <LinkTo @route="mission" @model={{mission}}>{{mission}}</LinkTo>
      </div>
    {{/each}}
  </div>
{{/if}}